pip==20.0.2
bumpversion==0.5.3
wheel==0.34.2
watchdog==0.10.1
flake8==3.7.9
tox==3.14.3
coverage==5.0.3
Sphinx==2.3.1
twine==3.1.1

pre-commit==2.0.1
virtualenv==16.7.9


attrs==19.3.0
certifi==2019.11.28
chardet==3.0.4
idna==2.8
importlib-metadata==1.5.0
more-itertools==8.2.0
numpy==1.18.1
packaging==20.1
pandas==1.0.1
pluggy==0.13.1
py==1.8.1
pyparsing==2.4.6
pytest==5.3.5
pytest-runner==5.2
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
six==1.14.0
typing-extensions==3.7.4.1
urllib3==1.25.8
wcwidth==0.1.8
zipp==2.1.0

jupyter
matplotlib
